html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden],
template {
  display: none
}

a {
  background-color: transparent
}

a:active,
a:hover {
  outline: 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b,
strong {
  font-weight: bold
}

dfn {
  font-style: italic
}

h1 {
  font-size: 2em
}

mark {
  background: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -0.5em
}

sub {
  bottom: -0.25em
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0
}

pre {
  overflow: auto
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0
}

button {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled],
html input[disabled] {
  cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input {
  line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em
}

legend {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto
}

optgroup {
  font-weight: bold
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 0
}

body {
  width: 100%;
  background-color: #fff;
  line-height: 1.5
}

ul {
  list-style: none
}

.wrapper {
  max-width: 1280px;
  min-width: 960px;
  margin: 0 auto;
  background-color: #fff
}





.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
  background-color: inherit
}

.top-panel {
  width: 100%;
  max-width: 1280px;
  min-width: 980px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  position: fixed;
  top: 0;
  padding: 2.75em 2em;
  background-color: #F9F9F9;
  z-index: 10;
  line-height: 1
}

.site-logo {
  width: auto
}

.site-logo img {
  width: 100%
}

.siteNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  color: #26272d
}

.nav-btn {
  width: 2em;
  height: 2em;
  margin-right: 2.5em
}

.siteNav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
}

.siteNav-list__item,
.custom-list__item {
  text-transform: capitalize;
  margin-right: 2.5em
}

.siteNav-list__item:last-of-type,
.custom-list__item:last-of-type {
  margin-right: 0
}

.siteNav-list__item a,
.custom-list__item a {
  color: #26272d;
  text-decoration: none
}

.siteNav-list__item a:hover,
.custom-list__item a:hover {
  color: #267df4
}

.custom-list__item:first-of-type a {
  color: #8c8f94
}

.custom-list__item:first-of-type a:hover {
  color: #267df4
}

.custom-list__item:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  padding: 0.5em 1em;
  border-radius: 3em;
  background-color: #267df4
}

.custom-list__item:last-of-type a {
  color: #fff
}

.custom-list__item:last-of-type img {
  margin-right: 1em
}

.custom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center
}

.sitePromo {
  position: relative;
  width: 100%;
  padding: 15em 0 30em 0;
  background: url("./img/header_bg.png") center center/cover no-repeat;
  overflow: hidden
}

.sitePromo-conent {
  width: 70%;
  margin: 0 auto;
  text-align: center
}

.sitePromo-conent__title {
  font-size: 3.5em;
  padding-top: 1em;
  margin-bottom: 1em
}

.sitePromo-conent__text {
  margin-bottom: 5em;
  padding: 0 1.9em;
  color: #8c8f94
}

.sitePromo-conent__btn {
  width: auto;
  margin: 0 auto;
  padding: 1em 3em;
  text-align: center;
  color: black;
  text-transform: capitalize;
  text-decoration: none;
  border: 1px solid #8c8f94;
  border-radius: 3em;
  background-color: transparent;
  margin-bottom: 3em
}

.sitePromo-conent__btn img {
  margin-right: 1em
}

.sitePromo-ifone-img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto
}

.features {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  padding: 5em 2em 0
}

.features-inner {
  width: 40%
}

.features-inner__img {
  margin-bottom: 1.5em
}

.features-inner__title {
  margin-bottom: 2em
}

.iPhoneFeature {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 10em 0 0;
  overflow: hidden
}

.iPhoneFeature-img {
  width: 50%;
  position: relative
}

.iPhoneFeature-img img {
  max-width: 100%;
  position: absolute;
  left: -3.5em
}

.iPhoneFeature-inner {
  width: 50%;
  padding: 5em 7em 5em 0
}

.iPhoneFeature-inner__title {
  margin-bottom: 2em
}

.iPhoneFeature-inner__text {
  margin-bottom: 3em
}

.iPhoneFeature-inner__text:first-of-type {
  margin-bottom: 1em
}

.iPhoneFeature-inner__btn {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center
}

.iPhoneFeature-inner__btn a {
  text-decoration: none
}

.btn-blue {
  padding: 0.5em 1em;
  color: white;
  background-color: #267df4;
  border-radius: 30px
}

.btn {
  padding: 0.5em 1em;
  border: 2px solid #8c8f94;
  border-radius: 30px;
  color: #26272d
}

.mapFeature {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  overflow: hidden
}

.mapFeature-inner {
  width: 50%;
  padding: 5em 5em 5em 7em
}

.mapFeature-inner__title {
  margin-bottom: 1.3em;
  color: #26272d
}

.mapFeature-inner__text {
  color: #8c8f94;
  font-size: 0.8em
}

.mapFeature-inner__text:first-of-type {
  margin-bottom: 1em
}

.mapFeature-inner__text:last-of-type {
  margin-bottom: 2em
}

.mapFeature-inner__footer {
  width: 70%
}

.mapFeature-inner__footer-title {
  margin-bottom: 1em;
  text-transform: uppercase;
  color: #26272d;
  font-size: 0.7em
}

.mapFeature-inner__footer-link {
  width: 40%;
  display: inline-block
}

.mapFeature-inner__footer-link:first-of-type {
  margin-right: 1em
}

.mapFeature-inner__footer-link img {
  width: 100%
}

.mapFeature-img {
  position: relative;
  width: 50%
}

.mapFeature-img img {
  width: 115%;
  position: absolute;
  top: 6em
}

.carousel {
  width: 100%;
  background-color: #f5f5f8
}

.carousel-header {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 4em;
  padding-top: 4em;
  text-align: center
}

.carousel-header__title {
  margin-bottom: 1em;
  text-transform: capitalize;
  color: #26272d
}

.carousel-header__line {
  width: 10%;
  margin: 0 auto;
  margin-bottom: 1em;
  border-color: #267df4
}

.carousel-header__text {
  text-transform: uppercase;
  font-size: 0.7em;
  color: #8c8f94
}

.carousel-product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center
}

.carousel-product__link {
  width: 19%;
  display: inline-block
}

.carousel-product__link img {
  width: 100%
}

.Background {
  background-color: #f5f5f8;
  position: absolute;
  left: 0px;
  top: 3400px;
  width: 1600px;
  height: 1200px;
  z-index: 180
}

.readyToBay {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  padding-top: 6em;
  padding-bottom: 4em;
  background-color: #f5f5f8
}

.readyToBay-subtitle {
  text-transform: uppercase;
  margin-bottom: 2em;
  font-size: 0.7em;
  color: #8c8f94
}

.readyToBay-title {
  margin-bottom: 1em;
  color: #26272d
}

.readyToBay-text {
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 0.7em;
  color: #8c8f94
}

.readyToBay-download {
  display: inline-block
}

.readyToBay-download img {
  border-radius: 20px
}

.send-form {
  margin-bottom: 4em
}

.send-form filedset {
  width: 502px;
  max-width: 100%;
  display: inline-block;
  padding: 0.2em;
  border: 1px solid rgba(38, 39, 45, 0.1);
  border-radius: 30px
}

.send-form__field {
  width: 69%;
  padding: 1em 0 1em 1em;
  border: none;
  border-radius: 30px;
  background-color: inherit;
  outline: none
}

.send-form__btn {
  width: 30%;
  padding: 1em;
  border: none;
  border-radius: 30px;
  text-align: center;
  background-color: #6fc754;
  outline: none;
  color: white
}

.customers {
  width: 100%;
  padding-left: 6em;
  padding-right: 6em;
  padding-top: 5em;
  padding-bottom: 5em
}

.customers-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  text-align: center
}

.customers-carousel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  margin-bottom: 4em
}

.customers-carousel__nav {
  width: 10%;
  display: inline-block;
  height: 50px
}

.customers-carousel__nav a {
  margin-top: 50%;
  display: inline-block
}

.customers-carousel__inner {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  padding: 0 4em
}

.customers-carousel__img {
  width: 90px;
  margin-right: 8em;
  opacity: 0.3
}

.customers-carousel__img:last-of-type {
  margin-right: 0
}

.customers-carousel__img img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 12px 30px 0px rgba(92, 95, 101, 0.18)
}

.customers-carousel__img.active {
  width: 150px;
  opacity: 1
}

.customers-carousel__img.active img {
  width: 100%;
  border-radius: 50%;
  box-shadow: none
}

.customers-title {
  margin-bottom: 1em;
  color: #26272d
}

.customers-text {
  width: 61%;
  margin-bottom: 1em;
  font-size: 0.8em;
  color: #8c8f94
}

.customers-rating {
  margin-bottom: 4em
}

.customers-name {
  text-transform: uppercase;
  color: #26272d;
  font-weight: bold
}

.plan {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  padding: 5em 6em;
  background-color: #f4f4f5
}

.plan-info {
  width: 60%;
  padding-top: 2em
}

.plan-title {
  margin-bottom: 2em;
  color: #26272d
}

.plan-selector h3 {
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 800;
  color: #26272d
}

.plan-toggle {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  margin-bottom: 5em;
  padding: 0.2em;
  border: 1px solid rgba(38, 41, 44, 0.4);
  border-radius: 30px;
  font-size: 0.8em;
  font-weight: 600
}

.plan-toggle__switch {
  width: 50%;
  padding: 0.5em;
  text-align: center;
  text-transform: capitalize;
  color: rgba(38, 41, 44, 0.4);
  border-radius: 30px
}

.plan-toggle__switch.selected {
  color: #26292c;
  background-color: #fff;
  box-shadow: 2.5px 4.33px 20px 0px rgba(61, 61, 62, 0.259)
}

.plan-text {
  margin-bottom: 3em;
  font-size: 0.8em;
  color: #8c8f94
}

.plan-more {
  font-size: 0.6em;
  color: #8c8f94
}

.plan-more a {
  margin-left: 0.3em;
  color: #267df4
}

.plan-pricing {
  width: 50%;
  padding: 2em 0;
  text-align: center;
  color: #26272d;
  background-color: #ebebed;
  border-radius: 10px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear
}

.plan-pricing:hover {
  background-color: #fff;
  box-shadow: 15px 25.981px 50px 0px rgba(92, 95, 101, 0.178);
  z-index: 1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1)
}

.plan-pricing__title {
  margin-bottom: 1em;
  text-transform: capitalize;
  font-weight: normal
}

.plan-pricing__price {
  display: inline-block;
  margin-bottom: 3em;
  padding: 0.5em 1em;
  text-transform: uppercase;
  border: 1px solid rgba(38, 41, 44, 0.4);
  border-radius: 30px;
  font-weight: 600
}

.plan-pricing__promo {
  margin-bottom: 1em;
  color: #8c8f94
}

.plan-pricing__benefit {
  margin-bottom: 4em;
  font-size: 0.8em;
  font-weight: 600
}

.plan-pricing__benefit li {
  margin-bottom: 0.5em
}

.hidden {
  visibility: hidden
}

.plan-pricing__btn {
  width: 70%;
  padding: 0.5em 1em;
  color: #267df4;
  font-weight: 600;
  background-color: inherit;
  border: 1px solid #267df4;
  border-radius: 30px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear
}

.plan-pricing__btn:hover {
  color: white;
  background-color: #267df4
}

.subscribe {
  width: 100%;
  padding: 5em 0
}

.subscribe-wrapper {
  width: 50%;
  margin: 0 auto;
  text-align: center
}

.subscribe-title {
  color: #26272d;
  font-weight: normal
}

.subscribe-text {
  margin-top: 4em;
  color: #8c8f94;
  font-size: 0.9em
}

.subscribe-form {
  width: 75%;
  margin: 0 auto
}

.subscribe-form filedset {
  width: 100%;
  display: inline-block;
  margin-top: 1em;
  padding: 0.2em;
  border: 1px solid rgba(38, 39, 45, 0.1);
  border-radius: 30px
}

.subscribe-form__field {
  width: 68%;
  padding: 1em 0 1em 1em;
  border: none;
  border-radius: 30px;
  background-color: inherit;
  outline: none
}

.subscribe-form__btn {
  width: 30%;
  padding: 1em;
  border: none;
  border-radius: 30px;
  text-align: center;
  background-color: #6fc754;
  outline: none;
  color: white
}

.site-footer {
  width: 100%;
  padding: 3em 6em 1em;
  background-color: inherit;
  color: #8c8f94
}

.site-footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between
}

.site-footer__section:first-of-type {
  margin-bottom: 10em
}

.site-footer__logo {
  margin-bottom: 2em
}

.site-footer__text {
  margin-bottom: 2em;
  font-size: 0.8em
}

.site-footer__load img {
  margin-bottom: 2em
}

.site-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start
}

.site-footer__social-item {
  margin-right: 2em
}

.site-footer__social-item:last-of-type {
  margin-right: 0
}

.site-footer__social-link {
  opacity: 0.4
}

.site-footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
}

.site-footer__info-block {
  margin-right: 3em
}

.site-footer__info-title {
  margin-bottom: 1em;
  text-transform: uppercase;
  color: #26272d;
  font-size: 0.9em
}

.site-footer__info-link {
  text-decoration: none;
  color: #8c8f94;
  font-size: 0.8em
}

.site-footer__copy-more {
  font-size: 0.8em
}

.site-footer__copy-more a {
  color: #267df4
}

.site-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  text-transform: uppercase;
  color: #26272d;
  font-size: 0.5em;
  font-weight: 600
}

.site-footer__copyright a {
  margin-left: 1em
}
